.navbar {
  background-color: #563d7c;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  border-radius: 50px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px;
}

.logo {
  color: #ffe484;
  font-weight: 500;
  font-size: 20px;
}

.logout-link {
  color: white;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-link {
  color: white;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 24px;
}

.menu-link:hover {
  color: #ffe484;
}
